/*
TO DO

- Imgs on fetch_goals.js
*/
/*------------Dashboard Database------------*/
#dataTable {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
}
#hamburgerButton {
    display: none;
}
#dataTable th,
#dataTable td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}
.fav_cell{
    text-align: center; /*GENERAL note: centering of heart icon not working*/
    font-size: 18px;
    justify-content: center;
}
.actions_cell button{
    margin-right: 6px; /*space between buttons*/
    margin-bottom: 6px;
    padding: 6px 10px; /*6px top/bottom   10px left/right*/
    
}
/*------------Tags Manager window------------*/
.tag
{
    display: inline-block;
    background: #f0f0f0;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 8px;
}
#dataTable th {
    background-color: grey;
}
/*------------Examples description window------------*/
.rating_stars_display{
    font-size: 18px; 
}

/*------------HIDE THE CARDS CONTAINER WHEN DESKTOP MODE------------*/
#cardsContainer {
    display: none;
}
#infoModal
{
    width: 50%;
}
/*------------MOBILE PHONES------------*/
@media screen and (max-width: 786px) {
    
    #hamburgerButton {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
    }
    #navMenu {
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }

    #navMenu.show {
        display: flex;
    }
    #databaseTable {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 90%;
        margin: 20px auto;
    }
    #infoModal
    {
        width: 80%;
    }
    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 12px;
        background: white;
    }
}